<div class="list-group">
  <div class="list-group-item user-card">
    <div class="media">
      <div class="checkbox pull-left">
      </div>
      <div class="media-body">
        <h4 class="media-heading"><%= task.title %></h4>
        <p><%= truncate(task.description, length: Settings.limit_description) %></p>
      </div>
      <hr>
    </div>
  </div>
</div>
