<body class="body-view bg-light">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-3"></div>
      <div class="col-6 w-75">
        <div class="h-100 d-flex flex-column justify-content-center p-4 ">
          <%= render "form" %>
        </div>
        </div>
      </div>
    </div>
  </div>
</body>
