<% provide:title, t(".create_course") %>
<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <h1 class="h3 mb-3 font-weight-normal mt-3 text-center"><%= t ".create_subject" %></h1>
      <%= render "form" %>
    </div>
  </div>
</div>
