.logo-size {
  width: 90px;
}

.top-height {
  padding-top: 60px;
}

.img-course {
  background-image: url("course.png");
}

.img-height {
  height: 150px;
}

.img-new {
  background-size: cover;
  background-position: center;
}
