<header>
  <div class="container border-bottom p-0">
    <div class="d-flex flex-row">
      <div class="d-md-flex col-md-2  justify-content-start align-items-center ">
        <%= link_to image_tag("logo.png", class: "size-logo", alt: t(".framgia_logo")),
          root_path %>
      </div>
      <div class="col-md-8  d-flex justify-content-center align-items-center">
        <h1 class="text-uppercase"><%= t ".welcome" %></h1>
      </div>
      <div class="col-md-2 justify-content-end align-items-center ">
        <%= link_to t(".sign_in"), "#", class: "btn btn-lg btn-primary" %>
      </div>
    </div>
  </div>
</header>
